@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-100">
    <div class="row w-100 float-left">
        <div class="col-lg-6 col-md-6 col-sm-12 float-left">
            <div class="card  bg-light  m-3">
                <div class="card-header border-bottom-0">Total Crimes</div>
                <div class="card-img">
                    <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:75px"></i>
                    <span class="badge badge-light">1995</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 float-left">
            <div class="card  bg-light  m-3">
                <div class="card-header border-bottom-0">Total Crimes(Citizens)</div>
                <div class="card-img">
                    <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:75px"></i>
                    <span class="badge badge-light">1995</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 float-left">
        <div class="col-lg-6 col-md-6 col-sm-12 float-left">
            <div class="card  bg-lightm-3">
                <div class="card-header border-bottom-0">Total Crimes(Foreigners)</div>
                <div class="card-img">
                    <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:75px"></i>
                    <span class="badge badge-light">1995</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 float-left">
            <div class="card  bg-light m-3">
                <div class="card-header border-bottom-0">Total Suspects</div>
                <div class="card-img">
                    <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:75px"></i>
                    <span class="badge badge-light">7995</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 float-left">
        <div class="col-lg-6 col-md-6 col-sm-12 float-left">
            <div class="card bg-light  m-3">
                <div class="card-header border-bottom-0">Total Suspects(Citizens)</div>
                <div class="card-img">
                    <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:75px"></i>
                    <span class="badge badge-light">1995</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 float-left">
            <div class="card bg-light  m-3">
                <div class="card-header border-bottom-0">Total Suspects(Foreigners)</div>
                <div class="card-img">
                    <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:75px"></i>
                    <span class="badge badge-light">1995</span>
                </div>
            </div>
        </div>
    </div>
</div>  