@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var username = HttpContextAccessor.HttpContext.Session.GetString(SessionManager.SessionUserName);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSI_NET_CORE</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
        <environment exclude="Development">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        </environment>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
<body>
    @if (username != null)
    {
        <div id="wrapper">

            <div id="sidebar-wrapper" class="navbar-dark bg-faded">
                <ul class="sidebar-nav bg-faded">
                    <li class="sidebar-brand">
                        <a href="#">
                            PSI
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-tachometer" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Citizen" asp-action="Index"><i class="fa fa-users" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Citizen</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Foreigner" asp-action="Index"><i class="fa fa-users" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Foreigner</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Criminal" asp-action="Index"><i class="fa fa-file" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Criminal</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Suspect" asp-action="Index"><i class="fa fa-file" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Suspect</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Officer" asp-action="Index"><i class="fa fa-gavel" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Officer</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Station" asp-action="Index"><i class="fa fa-building-o" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Station</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Work" asp-action="Index"><i class="fa fa-diamond" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i> Work</a>
                    </li>

                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout"><i class="fa fa-mobile" style="font-size:26px;padding-right:8px;" aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                    <header>
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                            <div class="container">
                                <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars" style="font-size:36px;padding-right:20px;"></i></a>
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PSI_NET_CORE</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                                    <ul class="navbar-nav  ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Welcome <span class="font-weight-bold text-capitalize">@username </span> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>
                    <partial name="_CookieConsentPartial" />
                
                <main role="main" class="pb-3 ">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2021 - PSI_NET_CORE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    }
    else
    { 
        <div class="container" id="loginPage">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
            integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
