@model PSI_NET_CORE.Models.Work
@{
    Layout = null;
}

<h5 class="text-center mt-1 mb-4">Work Manager</h5>
@using (Html.BeginForm("CreateUpdate", "Work", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)
<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Name)
</div>
    <div class="text-center pb-2">

        <button type="submit" class="btn btn-primary mb-4">Save</button>

    </div>
}