@model IEnumerable<PSI_NET_CORE.Models.Work>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("CreateUpdate","Work")')"><i class="fa fa-plus"></i> Add New</a>

<table id="Work-tb"  class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts {
    <script>

        var Popup, dataTable;
        $(document).ready(function () {
            dataTable= $("#Work-tb").DataTable({
                "ajax": {
                    "url": "/Work/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    {"data":"id" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("CreateUpdate", "Work")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm js-delete' data-citizen-id=" + data + " style='margin-left:5px'><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }
                ],                   
                "language": {
                    "emptyTable": "No data Found, Please click on <b> Add New </b> Button"
                }
            });

        });
        //update/Edit popup
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Work Details',
                        height: 500,
                        width: 700,
                        background: '#808080',
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
        //update/insert form submission
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            table.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                        else {
                            Popup.dialog('close');
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "danger"
                            })
                        }
                    }
                });
            }
            return false;
        }
        //deletion
        $("#Work-tb").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/Work/Delete/" + button.attr("data-citizen-id"),
                        method: "POST",
                        success: function (data) {
                            if (data.success) {
                                dataTable.row(button.parents("tr")).remove().draw();
                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                });
                            }
                            else {
                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "alert-info"
                                });
                            }
                        }
                    });
                }

            });
        });
    </script>
}